.container {
  padding: 15px;
  background-color: black;
  height: 65vh
}

ul.images {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5px;
  list-style: none;
  
  /* margin: 10px; */
}

ul.images > li {
  position: relative;
  padding-top: 66%;
}

ul.images > li img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 567px) {
  ul.images {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
